.navbar{
    font-family: 'Poppins', sans-serif;
    background-color: #272635;
    padding: 1.5dvh 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand{
    font-family: 'Poppins', sans-serif;
    color: #E8E9F3;
    font-size: 4dvh;
    font-weight: bold;
    text-decoration: none;
}

.navbar-nav{
    font-family: 'Poppins', sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
}

li{
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
    margin-left: 1.5rem;
}

a{
    font-family: 'Poppins', sans-serif;
    color: #E8E9F3;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}